@import "bootstrap-sprockets";
@import "bootstrap";

.cart-items {
  list-style: none;
  padding: 0;
  li {
    padding: 0.5em;
    &:nth-child(odd) {
      background-color: #f3f3f3;
    }
  }
}
.red {
  color: red;
  &:hover {
    color: red;
    text-decoration: none;
  }
}
.my-nav ul {
  list-style: none;
  padding: 0;
}
.product {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  min-width: 150px;
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:hover .darken {
    opacity: 1;
  }
  &:hover .product-content {
    opacity: 1;
  }
  .darken {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height:100%;
    z-index: 0;
    opacity: 0;
    transition: all 0.25s;
  }
  .product-content {
    z-index: 2;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0.25em;
    opacity: 0;
    transition: all 0.25s;
    width: 100%;
    input {
      color: black;
    }
  }
  .product-form {
    form {
      display: inline-block;
      color: red;
    }
  }
}
body {
  margin-top: 3em;
}
.right {
  float: right;
}
.total {
  text-align: right;
  padding: 0;
  margin: 0;
}


// form styles

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: solid 1px #333;
  width: 100%;
  margin-bottom: 1em;
  &:focus {
    outline: none;
  }
}
input[type="checkbox"] {
  margin-bottom: 1em;
}
input[type="submit"] {
  border: solid 1px #333;
  background-color: white;
  color: #333;
  margin-bottom: 1em;
}
input[type="number"] {
  &:focus {
    outline: none;
  }
}

.product-detail {
  width: 100%;
}

.cart {
  background-image: url(asset_path('cart.png'));
  background-size: 1.25em;
  background-position: 7px;
  background-repeat: no-repeat;
  text-indent: 22px;
}
