@import "bootstrap-sprockets";
@import "bootstrap";

.cart-items {
  list-style: none;
  padding: 0;
  li {
    padding: 0.5em;
    &:nth-child(odd) {
      background-color: #f3f3f3;
    }
  }
}
.red {
  color: red;
  &:hover {
    color: red;
    text-decoration: none;
  }
}
.my-nav ul {
  list-style: none;
  padding: 0;
}
.product {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  min-width: 150px;
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .darken {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height:100%;
    z-index: 0;
  }
  .product-content {
    z-index: 2;
    color: white;
    position: absolute;
    input {
      color: black;
    }
  }
  .product-form {
    form {
      display: inline-block;
      color: red;
    }
  }
}
body {
  margin-top: 3em;
}
