@import "bootstrap-sprockets";
@import "bootstrap";

.cart-items {
  list-style: none;
  padding: 0;
  li {
    padding: 0.5em;
    &:nth-child(odd) {
      background-color: #f3f3f3;
    }
  }
}
.red {
  color: red;
  &:hover {
    color: red;
    text-decoration: none;
  }
}
.my-nav ul {
  list-style: none;
  padding: 0;
}
.product {
  display: inline;
  width: auto;
}

body {
  margin-top: 3em;
}
