<% @products.each do |product| %>
  <a href="<%= product_path(product) %>">
    <div class="product" style="background-image:url(<%= product.image %>)">
      <div class="darken"></div>
      <div class="product-content">
        <%= product.name %> | <%= number_to_currency product.price %>
      </div>
    </div>
  </a>
<% end %>
